#nav-bar-section #nav-bar{
    background-color: red;
}
#section1 #section1-div{
    width: 87vw;
    height: 100vh;
    background-color: #7a418a;
}
.card-body{
   /* background-color: #1b521a;*/
    background-color: #2D333D;
}
.card-body2{
    background-color: #7a418a;
}
.text-customer{
    color: #f1ecec;
    font-size: 40px;
}
.modal-header{
    background-color: #1b521a;
    color: white;
}
#order-text{
    color: #f1ecec;
    text-align: center;
}
.table{
    margin-left: 6rem;
}

#invoice{
    color: black;

}
label{
    color: black;
    font-style: oblique;
    font-size: 15px;
}
#all-orders{
    width: 200px;
    height: 40px;
    margin-top: 70px;
    margin-right: 50px;
}
.table{
    margin-left: 0;
}
#tbl-order{
    margin-left: 100px;
}
